/////////////////////////////////////////////////////////////////
// Master color variable sheet for DCSD echeckin Parent//

$error: #CE3525;
$header-lt-blue: #7db7cc;
$header-dk-blue: #19608f;
$finished: #39B54A;
$important: #FEBF31;
$grey1: #D1D3D4;
$grey2: #A7A9AC;
$information: #00AEEF;
$text: #414042;
$white: #EDEDED;


$crazy-craig: hotpink;
